<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NSubstitute" publicKeyToken="92dd2e9066daa5ca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="auth:jwtKe" value="Xr/07AvZbRGmXFnf6vl71i4fND4UcePXmpDyHKG4r/Q="/>
    <add key="auth:tokenLifetime" value="1:00"/>
  </appSettings>
</configuration>